<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>Case Study</title>
    <style type="text/css">
        .btn, .edit-btn, .done-btn, .delete-btn{padding:10px; font-size:14px; line-height:20px; background-color:#f00;}
        .delete-btn{background-color:#e6e6e6;}
        .edit-btn{background-color:#f5f5f5;}
        .done-btn{background-color:#e8e8e8;}
    </style>
</head>

<body>
    <h1>ToDo App</h1>
    
    
    <div ng-controller="TodoCtrl as ctrl">
        <label for="addI">Add a Todo:</label>
        <input type="text" ng-model="ctrl.newTodo" name="" value="" id="addI">
        <button class="btn" type="button" ng-click="ctrl.addnNewTodo()">Add</button>

        <p>
            <button class="edit-btn" ng-hide="ctrl.editMode" ng-click="ctrl.triggerEditMode()" type="button">Edit</button>
            <button class="done-btn" ng-show="ctrl.editMode" ng-click="ctrl.triggerEditMode()" type="button">Done</button>
        </p>

        <ol>
            <li ng-repeat="todo in ctrl.todos track by $index">
                <span ng-hide="ctrl.editMode">{{todo}}</span>
                <input ng-model="todo" ng-show="ctrl.editMode" type="text" name="" value="">
                <button class="delete-btn" ng-hide="ctrl.editMode" ng-click="ctrl.deleteTodo($index)" type="button">Delete</button>
            </li>
        </ol>
    </div>

    <script src="angular.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->
    <script src="app.js"></script>
    
</body>

</html>
