<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>Case Study</title>
    <script src="angular.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->
    <script src="app.js"></script>
</head>

<body>
    <h1>ToDo App</h1>
    
    <div ng-controller="TodoCtrl as ctrl">
        <label for="addI">Add a Todo:</label>
        <input type="text" ng-model="ctrl.newTodo" name="" value="" id="addI">
        <button type="button" ng-click="ctrl.addnNewTodo()">Add</button>

        <p>
            <button ng-hide="ctrl.editMode" ng-click="ctrl.triggerEditMode()" type="button">Edit</button>
            <button ng-show="ctrl.editMode" ng-click="ctrl.triggerEditMode()" type="button">Done</button>
        </p>

        <ol>
            <li ng-repeat="todo in ctrl.todos track by $index">
                <span ng-hide="ctrl.editMode">{{todo}}</span>
                <input ng-model="todo" ng-show="ctrl.editMode" type="text" name="" value="">
                <button ng-hide="ctrl.editMode" ng-click="ctrl.deleteTodo($index)" type="button">Delete</button>
            </li>
        </ol>
    </div>

    <!--
       
    -->
    
</body>

</html>
